<div id="Navbar" class="fixed top-3 left-1/2 -translate-x-1/2 mix-blend-difference z-99">
  <nav class="flex py-2 text-md uppercase rounded">
    <a href="music.html" class="px-6 text-white hover:text-white/60 transition">Music</a>
    <a href="visuals.html" class="px-6 text-white hover:text-white/60 transition">Visuals</a>
    <a href="#" class="px-6 text-white hover:text-white/60 transition">Tour</a>
    <a href="shop.html" class="px-6 text-white hover:text-white/60 transition">Shop</a>
    <a href="#" class="px-6 text-white hover:text-white/60 transition">Credits</a>
  </nav>
</div>